@import url("./summary.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0");

:root {
  --main-background-color: #fdfdfd;
  --main-background-color-rgb: 252, 252, 252;

  --main-font-color: #333;
  --main-font-color-rgb: 51, 51, 51;

  --theme-primary: #333;
  --theme-primary-rgb: 51, 51, 51;

  --hover-color: #000;
  --hover-color-rgb: 0, 0, 0;

  --card-border-rgb: 0, 0, 0;
  --link-color: #1a0dab;

  --sub-font-color: #787878;

  --main-border-radius: 5px;

  --main-primary: #0078d4;
  --main-primary-rgb: 0, 120, 212;

  color-scheme: light;
  /* input style*/
  --active: var(--main-primary);
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: var(--main-primary);
  --background: transparent;
  --disabled: #f6f8ff;
  --disabled-inner: #b6d7f0;
  @media print {
    --main-font-color: #333;
  }
  body[theme="dark"] {
    
    --main-background-color: #222;
    --main-background-color-rgb: 34, 34, 34;

    --main-font-color: #fff;
    --theme-primary: #fff;

    --hover-color: #fff;
    --hover-color-rgb: 255, 255, 255;

    --card-border-rgb: 255, 255, 255;

    --link-color: #8ab4f8;

    --sub-font-color: #adadad;

    --main-primary: #006cbe;

    --main-primary-rgb: 0, 108, 190;
    --border: #e1dbbb;
    --disabled-inner: #386c96;

    color-scheme: dark;
  }
}
body {
  font-family: segoe ui emoji, "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  accent-color: #333;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  accent-color: var(--theme-primary);
  margin: 0%;
  padding: 0%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
* {
  box-sizing: border-box;
}

form:not([method="dialog"]) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.info {
  padding: 0.85em 0.5em;
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  border: 1px solid rgba(var(--card-border-rgb), 0.12);
  border-radius: var(--main-border-radius);
  /*Unknown propert*/
  container-name: wrapper;

  > .material-symbols-rounded {
    margin-top: 0.8px;
    margin-right: 0.35em;
    font-size: 1.25rem;
  }
  > main {
    width: 100%;
  }
  > main button {
    font-size: 1em;
  }
}

body > header {
  position: sticky;
  top: 0;
  text-align: center;
  background: rgba(var(--main-background-color-rgb), 0.8);
  font-size: 1.25em;
  font-weight: bold;
  backdrop-filter: saturate(180%) blur(20px);
  @supports not (backdrop-filter: blur(10px)) {
    background: rgba(var(--main-background-color-rgb), 0.975);
  }
  z-index: 2;
  > div {
    min-height: 4.25rem;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 800px;
    margin: auto;
    display: flex;
  }
}

input[type="radio"] {
  appearance: checkbox;
  accent-color: rgb(47, 121, 218);
}

#uranai_btn {
  height: 3.5rem;
  min-width: 3rem;
  font-size: 0.9em;
  font-family: inherit;
}
.outlineButton:not(:disabled) {
  cursor: pointer;
}
:disabled {
  cursor: not-allowed;
}

h2 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.contents_area {
  padding: 1rem;
}
.seinengappi {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
select {
  border: 1px solid rgba(var(--card-border-rgb), 0.12);
  border-radius: var(--main-border-radius);

  height: 3rem;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  font-family: inherit;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}

/*ヘッダーのもどるボタン*/
.headerBackButton {
  appearance: none;

  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border-radius: var(--main-border-radius);

  margin: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: inherit;

  cursor: pointer;
  background: transparent;
}

:is(summary, .headerBackButton):is(:hover, :focus:not(:focus-visible)) {
  background-color: rgba(var(--hover-color-rgb), 0.05);
}
.outlineButton {
  appearance: none;
  border: 1px solid rgba(var(--card-border-rgb), 0.12);
  border-radius: var(--main-border-radius);
  background: rgb(var(--hover-color-rgb), 0.06);
  color: inherit;
  padding: 10px 20px;
  margin: 0;
  min-width: 7.5rem;

  font-weight: normal;
  min-height: auto;
  height: auto;

  font-size: 0.9em;
  font-family: inherit;

  color: var(--main-font-color);
  &:not(:disabled) {
    &:is(:hover, :focus) {
      border: 1px solid rgba(var(--card-border-rgb), 0.4);
      background: rgb(var(--hover-color-rgb), 0.125);
    }
    &:is(:active) {
      background: rgb(var(--hover-color-rgb), 0.1);
    }
  }
  &.positive {
    border: none;
    color: #fff;
    background: var(--main-primary);
    &:not(:disabled) {
      &:is(:hover, :focus) {
        border: none;
        background: rgba(var(--main-primary-rgb), 0.8);
      }
      &:active {
        background: rgba(var(--main-primary-rgb), 0.75);
      }
    }

    &:disabled {
      opacity: 0.5;
    }
  }
  &.full {
    height: 3rem;
    min-width: 3rem;
    font-size: 0.9em;
    font-family: inherit;
    width: 100%;
  }
  &:disabled:not(.positive) {
    opacity: 0.5;
  }
  &.btnScreenShot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 4rem;
    min-width: 4rem;
  }
}

:is(.select-wrap select):not(:disabled):hover {
  border-color: rgba(var(--card-border-rgb), 0.4);
}
.main_contents {
  max-width: 800px;
  margin: auto;
}
.newsarea {
  display: grid;
  gap: 10px;
}
.action {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 10px;
  @container (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.select-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  &:is(:has(select:disabled), .selectDisabled)::after {
    color: rgb(var(--hover-color-rgb), .5);
  }

  &::after {
    position: absolute;
    font-family: "Material Symbols Rounded";
    content: "arrow_drop_down";
    right: 0;
    font-size: 1.25rem;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
    width: 20px;
  }
  &.noOutline select {
    border: none;
  }
  &.compact {
    min-width: 100%;
    select {
      outline: 0;
      height: 3rem;
      border-radius: 0;
    }
  }
  select {
    position: relative;
    max-width: 100%;
    appearance: none;

    padding-right: 20px;
    padding-left: 9px;

    color: inherit;

    padding-block: 0;

    background: transparent;

    &:not(:disabled):is(:hover, :focus) {
      background: rgb(var(--hover-color-rgb), 0.03);
    }
    &:disabled {
      opacity: 1;
      color: rgb(var(--hover-color-rgb), 0.5);
    }
    option {
      background: var(--main-background-color);
      font-size: inherit;
      font-size: 1em;
    }
  }
}
.closeButton {
  display: flex;

  appearance: none;
  background: transparent;
  margin: 0;
  padding: 2px;
  border: none;

  cursor: pointer;
  border-radius: 1.94px;

  color: inherit;
  &:is(:focus, :hover) {
    background: rgb(var(--hover-color-rgb), 0.125);
  }
  &:is(:active) {
    background: rgb(var(--hover-color-rgb), 0.155);
  }
  > .material-symbols-rounded {
    font-size: 1.25em;
  }
}
ul.links {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    display: inline-flex;
    align-items: center;
    color: var(--link-color);
    text-decoration: none;
    padding-right: 0.5em;
    &::before {
      font-family: "Material Symbols Rounded";
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      content: "chevron_right";
    }
    &:is(:hover, :focus) {
      span {
        text-decoration: underline;
      }
    }
  }
}
a[href].inlink {
  color: var(--link-color);
  text-decoration: none;
  &:is(:hover, :focus) {
    text-decoration: underline;
  }
  &[target="_blank"] {
    &::after {
      font-family: "Material Symbols Rounded";
      font-weight: normal;
      font-style: normal;
      font-size: 1.15em;
      content: "\0e89e";
      text-decoration: none;
      vertical-align: -20%;
      text-decoration: none;
      display: inline-block;
    }
  }
}
.box {
  display: grid;
  border: 1px solid rgba(var(--card-border-rgb), 0.12);
  grid-auto-rows: auto;
  position: relative;
  border-radius: var(--main-border-radius);

  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 736px) {
    grid-auto-columns: auto;
  }
  li {
    &:is(:hover, :focus-visible) {
      background: rgb(var(--hover-color-rgb), 0.03);
    }
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 0.5px solid rgba(var(--card-border-rgb), 0.12);
    &:last-child {
      border: 0px;
    }

    .box__ {
      &title {
        padding-bottom: 0;
      }
      &itmes {
        padding: 0.9rem 0.8rem;

        font-size: 0.9rem;
        &.noPadding {
          padding: 0;
        }
        &__contents {
          display: inline-block;
          width: fit-content;
          text-align: left;

          .material-symbols-rounded {
            font-size: 1.15em;
          }
          .emoji {
            margin-right: 0.35em;
          }
        }
      }
      @media screen and (min-width: 737px) {
        &itmes {
          min-height: 3rem;
          display: inline-flex;
          align-items: center;
          flex-wrap: wrap;
          &:not(.box__title) {
            padding-left: 0;
            justify-content: flex-end;
          }
          &.box__title {
            max-height: 3.5rem;
          }
        }
      }
      @media screen and (max-width: 736px) {
        &itmes {
          padding: 0.5rem;

          text-align: left;
          grid-column: 1 / 3;

          //&__contents {}
        }
        &title {
          padding-bottom: 0;
        }
      }
    }
  }
  li {
    &.notgrid {
      grid-template-columns: 70% 30%;
      .box__ {
        &itmes {
          grid-column: auto;
          min-height: 3rem;
          display: inline-flex;
          align-items: center;
          flex-wrap: wrap;
          &:not(.box__title) {
            padding-left: 0;
            justify-content: flex-end;
          }
          &.box__title {
            padding: 0.5rem;
            max-height: 3.5rem;
          }
        }
      }
    }
  }
}

.box__title {
  color: var(--sub-font-color);
  font-weight: bolder;
  text-align: left;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
.grids {
  display: grid;
  gap: 10px;
}
html,
body {
  scroll-padding-top: 4.25rem;
}
:focus:not(:focus-visible) {
  outline: 0;
}
@media print {
  header {
    display: none;
  }
  .info {
    display: none;
  }
}

dialog:not(#ji) {
  font-family: segoe ui emoji, "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;

  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--main-font-color);
  & > form {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform: scale(0.95);
  }
  &[open] {
    width: 100vw;
    height: 100%;

    &::backdrop,
    & + .backdrop {
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(1.5px);

      @supports (not (backdrop-filter: saturate(180%) blur(20px))) {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    & > form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      width: min(100vw - 32px, 560px);
      min-height: 50px;
      height: max-content;
      max-height: calc(100% - 32px);

      position: fixed;
      inset: 0;
      margin: auto;
      padding: 0;
      top: 0;
      left: 0;

      z-index: 10;

      border-radius: 5px;

      background-color: var(--main-background-color);
      animation: transform 1s ease-in-out infinite;

      transform: scale(1);
      & > header {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
        overscroll-behavior-y: contain;
        min-width: 0;
        border-bottom: 1px solid rgba(var(--card-border-rgb), 0.12);

        line-height: normal;

        .contents_main {
          display: flex;
          align-items: center;
          font-weight: normal;

          width: 100%;

          margin: 0.9rem 1rem;
          padding: 0;

          .material-symbols-rounded {
            font-size: 1.45em;
            margin-right: 0.4em;
          }

          .dialog_title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }

      & > main {
        overflow: auto;
        overscroll-behavior-y: contain;
        min-height: 6rem;
        display: flex;
        align-items: center;

        section {
          width: 100%;
          margin: auto 0;
          display: grid;
          gap: 1rem;
          padding: 1rem 0;
        }

        .contents_main {
          width: calc(100% - 2rem);
          color: var(--sub-font-color);
          margin: 0 1rem;
          word-break: break-all;
        }
      }

      & > footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        overflow: auto;
        max-height: 8rem;
        overscroll-behavior-y: contain;
        border-top: 1px solid rgba(var(--card-border-rgb), 0.12);
        line-height: normal;
        overflow: auto;
        flex-wrap: wrap;
        .from-action {
          display: flex;
          justify-content: space-evenly;
          gap: 0.5rem;
          flex-wrap: wrap;
          margin: 0.5rem;
        }
      }
    }
  }
}

@supports (appearance: none) {
  input {
    &:is([type="checkbox"], [type="radio"]) {
      appearance: none;
      height: 21px;

      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid transparent;
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      &:not(:checked) {
        border: 1px solid var(--bc, var(--border));
      }
      &:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
          opacity var(--d-o, 0.2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
        &:checked {
          --b: var(--disabled-inner);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus-visible {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    &[type="checkbox"] {
      &:not(.switch) {
        border-radius: 5px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: 0.6;
            }
          }
        }
      }
    }
    &[type="radio"] {
      border-radius: 50%;
      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
      }
      &:checked {
        --s: 0.5;
      }
    }
  }
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
.inputs {
  display: grid;
  gap: 1em;
}
.img-shadow {
  img {
    border: 0.5px solid rgba(var(--card-border-rgb), 0.12);
    border-radius: var(--main-border-radius);
  }
}

html:has(dialog[open]) {
  overflow: hidden;
}